backend:
  name: git-gateway
  branch: main

local_backend: true

media_folder: static/images/uploads
public_folder: /images/uploads

locale: es

collections:
  - name: 'ingredients'
    label: 'Ingredientes'
    files:
      - name: 'all-ingredients'
        label: 'Todos los ingredientes'
        file: 'src/lib/test-data/ingredients.json'
        fields:
          - label: 'Ingredientes'
            name: 'ingredients'
            widget: 'list'
            label_singular: 'Ingrediente'
            collapsed: true
            summary: '{{fields.name}} ({{fields.id}})'
            fields:
              - { label: 'ID', name: 'id', widget: 'hidden', required: false }
              - { label: 'Nombre', name: 'name', widget: 'string', required: true }

  - name: 'recipes'
    label: 'Recetas'
    files:
      - name: 'all-recipes'
        label: 'Todas las recetas'
        file: 'src/lib/test-data/recipes.json'
        fields:
          - label: 'Recetas'
            name: 'recipes'
            widget: 'list'
            label_singular: 'Receta'
            collapsed: true
            summary: '{{fields.title}} (/recetas/{{fields.id}})'
            fields:
              - { label: 'ID', name: 'id', widget: 'string', required: true, pattern: ['^[a-z0-9-]+$', 'Solo letras minúsculas, números y guiones'], hint: 'Compone el URL de la receta, no cambiarlo frecuentemente' }
              - { label: 'Título', name: 'title', widget: 'string', required: true }
              - label: 'Ingredientes'
                name: 'ingredients'
                widget: 'relation'
                collection: 'ingredients'
                file: 'all-ingredients'
                search_fields: ['ingredients.*.name', 'ingredients.*.id']
                display_fields: ['ingredients.*.name']
                value_field: 'ingredients.*.id'
                multiple: true
                min: 1
              - label: 'Fecha'
                name: 'date'
                widget: 'datetime'
                date_format: 'DD/MM/YYYY'
                time_format: false
                format: 'YYYY-MM-DD'
                required: true
              - label: 'Imagen'
                name: 'image'
                widget: 'object'
                collapsed: false
                fields:
                  - { label: 'URL', name: 'url', widget: 'image', required: true }
                  - { label: 'Texto alternativo', name: 'alt', widget: 'string', required: true }
              - label: 'Instrucciones'
                name: 'instructions'
                widget: 'list'
                field: { label: 'Paso', name: 'step', widget: 'text' }

